<!-- Footer -->
<footer class="page-footer font-small ">

<!-- Footer Links -->
<div class="container-fluid text-justify text-md-left text-footer">

  <!-- Grid row -->
  <div class="row">

	<!-- Grid column -->
	<div class="col-md-6 mt-md-0 mt-3 text-sm-left">

	  <!-- Content -->
	  <h5 class="text-uppercase">Mentions légales</h5>
	  <p>
        <strong>La Fondation Amour sans Frontière (AsaF) est basée à
          <a href="https://fr.wikipedia.org/wiki/Yaound%C3%A9" target="_blank">Yaoundé Cameroun</a></strong>
      </p>
      Protection des droits du site:
      <p>
        Tous les éléments figurant sur notre site, notamment les photos et images, sont protégés par des droits de propriété intellectuelle.
        Toute reproduction ou publication, et redistribution de tout ou partie d'un document est interdite sans l'autorisation écrite expresse de notre association.
      </p>

	</div>
	<!-- Grid column -->

	<hr class="clearfix w-100 d-md-none pb-3">

	<!-- Grid column -->
	<div class="col-md-3 mb-md-0 mb-3">

		<!-- Links -->
		<h5 class="text-uppercase">Nos Archives</h5>
		<h6>Année : Lieux</h6>
		<ul class="list-unstyled">
		  <li>
			  2002 : Ngaroundéré
		  </li>
		  <li>
        2003  :  Extrême Nord-Cameroun
		  </li>
		  <li>
			<a href="#!">Cameroun /Adamaoua</a>
		  </li>
		</ul>

	  </div>
	  <!-- Grid column -->

	  <!-- Grid column -->
	  <div class="col-md-3 mb-md-0 mb-3">

		<!-- Links -->
		<h5 class="text-uppercase">Amours Sans Frontière sur les réseaux Sociaux</h5>

		<ul class="list-unstyled">
		  <li>
			<a href="#!">Facebook: ...</a>
		  </li>
		  <li>
			<a href="#!">Whatsapp</a>
		  </li>
		  <li>
			<a href="#!"routerLinkActive="active" routerLink="auth/signin">Contactez Administrateur <br/>au
            <strong><a>695 12 96 71</a> </strong>
			</a> 
		  </li>
		  <li>
			<a href="https://github.com/gaelBo">Webmaster</a> 
		  </li>
		</ul>

	  </div>
	  <!-- Grid column -->

  </div>
  <!-- Grid row -->

</div>
<!-- Footer Links -->

<!-- Copyright -->
<div class="footer-copyright text-center py-3 align-middle">
	<span class="align-middle">Copyright © FONDATION AMOUR SANS FRONTIERE</span>
</div>
<!-- Copyright -->

</footer>
<!-- Footer -->
<!--
<footer class="footer">
    <div id="tweet" style="width: 40%; !important;">
      <h1>Mentions légales</h1>
      <p>
        <strong>La Fondation Amour sans Frontière (AsaF) est basée à
          <a href="https://fr.wikipedia.org/wiki/Yaound%C3%A9" target="_blank">Yaoundé Cameroun</a></strong>
      </p>
      Protection des droits du site:
      <p>
        Tous les éléments figurant sur notre site, notamment les photos et images, sont protégés par des droits de propriété intellectuelle.
        Toute reproduction ou publication, et redistribution de tout ou partie d'un document est interdite sans l'autorisation écrite expresse de notre association.
      </p>
    </div>

    <div id="mes_photos" style="width: 15%; !important;">
      <table>
        <caption>Nos Archives</caption>
        <thead><tr> <th> Année </th> <th> Lieux Visité </th> </tr></thead>

        <tbody><tr><td> 2002 </td> <td> Ngaroundéré </td></tr></tbody>
        <tbody><tr><td> 2003 </td> <td> Extrême Nord-Cameroun </td></tr></tbody>
        <tbody><tr><td> ... </td> <td> ... </td></tr></tbody>

      </table>
    </div>

    <div id="mes_amis" style="text-align: center; width: 40%; !important;">
      <h1>Amours Sans Frontière sur les réseaux Sociaux</h1>
      <div id="listes_amis">
        <ul class="list-unstyled" style="text-align: left; !important;">
          <li><a href="#">Facebook: ...</a></li>
          <li><a href="#">Whatsapp</a></li>
          <li>  Copyright © FONDATION AMOUR SANS FRONTIERE</li>

        </ul>
        <hr/>

        <ul class="list-unstyled" style="text-align: left; !important;">
          <li routerLinkActive="active"> <a routerLink="auth/signin">Contactez Administrateur <br/>au
            <strong><a>695 12 96 71</a> </strong>
          </a> </li>
          <li><a href="#">Cameroun /Adamaoua</a></li>
          <li><a href="https://github.com/gaelBo">Webmaster</a> </li>
        </ul>
      </div>
    </div>
</footer>
-->