<footer>
    <div id="tweet">
        <h1>Mentions légales</h1>
        <p>Fondation: Amour Sans Frontière - Cameroun
            Protection des droits du site de la Fondation Amour SansFrontière du Cameroun:
        </p>
        <p>
            Tous les éléments figurant sur notre site, notamment les photos et images, sont protégés par des droits de propriété intellectuelle.
            Toute reproduction ou publication, et redistribution de tout ou partie d'un document est interdite sans l'autorisation écrite expresse de notre association.
                </p>
        

    </div>
    <div id="mes_photos">
       <table>
           <caption>Nos Archives</caption>
           <thead><tr> <th> Année </th> <th> Lieux Visité </th> </tr></thead>
           
         <tbody><tr><td> 2002 </td> <td> Ngaroundéré </td></tr></tbody>
         <tbody><tr><td> 2003 </td> <td> Extrême Nord-Cameroun </td></tr></tbody>
         <tbody><tr><td> ... </td> <td> ... </td></tr></tbody>

       </table>

    </div>
    
    <div id="mes_amis">
        <h1>Amours Sans Frontière sur les réseaux Sociaux</h1>
        <div id="listes_amis">
            <ul>
                <li><a href="#">Facebook: ...</a></li>
                <li><a href="#">Whatsapp</a></li>
                <li>  Copyright © FONDATION AMOUR SANS FRONTIERE</li>
                
            </ul>
            <hr/>

            <ul>
                <li routerLinkActive="active"> <a routerLink="auth/signin">Contacts :
                  <strong><a>695 12 96 71</a> </strong>
                </a> </li>
                <li><a href="#">Cameroun /Adamaoua</a></li>
                <li><a href="https://github.com/gaelBo">Webmaster</a> </li>

                
                
            </ul>
        </div>
    </div>
</footer>
