<!DOCTYPE html>
<html>
  <head>
    <title>Faire un Don </title>
  </head>
<body>


<h1>Faire un Don</h1>
<div class="container-table">
      <div class="row vertical-middle text-center" >
          <div class="col-sm-6 col-md-8 col-lg-6 text-justify">
            <div class="element1"> <span style="color:red;"><strong>Nos besoins pour la mission</strong></span>
              <ul>
                <li>Médicaments</li>
                <li>Du Riz et de l'huile</li>
                <li>Savon</li>
                <li>Vêtements et chaussures </li>
                <li>Véhicules adaptés</li>
                <li>Finances</li>
                <li> ... </li>
              </ul>
            </div>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-6 text-left">
            <div class="element2"> Pour plus de précision,
             <a routerLink="kontakt">Contactez nous</a>
             <h4>
                Telephones:<br/>
                (00237)          
                <strong class="important"> 695 12 96 71</strong>
                 (Orange Money) <br/>
                <strong class="important">   679 74 68 06 </strong><br/>
                 Email: <strong class="important">amoursansfrontiere@gmail.com</strong><br/><br/>
                ou <br/>
                 <a href="amoursansfrontiere@gmail.com">Envoyez-nous un message!</a> directement <br/>
                 Site Web: www.amoursansfrontiere.com<br/> <br/>
               <i>
                   Psaumes 121:2 , Le secours me vient de l'Éternel,<br/>
                   Qui a fait les cieux et la terre.<br/>
               </i>
             </h4>
             <p><i><strong>Merci d'avance !!!</strong></i></p>
            </div>
          </div>
      </div>
</div>
<br><br>
</body>
</html>