<!DOCTYPE html>
<html lang="fr">
<head>
  <title> Historique </title>
  <meta charset="utf-8" /> 
</head>
<body class="a_toutes_pages">


   <h2><i>Souvenirs des Events passés</i></h2>
   <div class="row">
        <!--col-xs-6 veut dire l elt prend 6 Cols de large sur les 12 de Bootstrap-->
       <!--offset-3  veut dire sauter 3 des colonnes de la fenetre-->
 
        <div class="col-sm-12">
     <carousel class='text-center'>
 
         <slide>
          <img class="img-main-carousel" src="assets/images/ASFprospect.jpg"  alt="First slide" title="Cliquez pour agrandir">
          <div class="carousel-caption d-none d-md-block">
          <h5>A venir ...</h5>
           <p></p>
          </div>                      
         </slide>
 
         <slide>
                 <img class="img-main-carousel" src="assets/images/EventASF5.jpeg"  alt="First slide" title="Cliquez pour agrandir">
                 <div class="carousel-caption d-none d-md-block">
                               
                  </div>                      
                </slide>
                <slide>
                     <img class="img-main-carousel" src="assets/images/EventASF23.jpeg"  alt="First slide" title="Cliquez pour agrandir">
                     <div class="carousel-caption d-none d-md-block">
                                
                      </div>                      
                    </slide>
                <slide>
                     <img class="img-main-carousel" src="assets/images/EventASF42.jpeg"  alt="First slide" title="Cliquez pour agrandir">
                     <div class="carousel-caption d-none d-md-block">
                      <h5>Décembre 2015</h5>
                      <p> Soutient aux Enfants ... </p>
                     </div>                      
                    </slide>
                    <slide>
                         <img  class="img-main-carousel" src="assets/images/EventASF43.jpeg"  alt="First slide" title="Cliquez pour agrandir">
                         <div class="carousel-caption d-none d-md-block">
                          <h5>Décembre 2016</h5>
                          <p> Soutient aux Enfants</p>
                         </div>                      
                        </slide>
                        <slide>
                             <img  class="img-main-carousel" src="assets/images/EventASF45.jpeg"  alt="First slide" title="Cliquez pour agrandir">
                             <div class="carousel-caption d-none d-md-block">
                           
                             </div>                      
                            </slide>
 
                            
         <slide>
             <img class="img-main-carousel" src="assets/images/EventASF.jpeg"  alt="First slide" title="Cliquez pour agrandir">
             <div class="carousel-caption d-none d-md-block">
 
              <p></p>
             </div>                      
            </slide>
    
            <slide>
                    <img class="img-main-carousel" src="assets/images/EventASF6.jpeg"  alt="First slide" title="Cliquez pour agrandir">
                    <div class="carousel-caption d-none d-md-block">
                                 
                     </div>                      
                   </slide>
                   <slide>
                        <img class="img-main-carousel" src="assets/images/EventASF7.jpeg"  alt="First slide" title="Cliquez pour agrandir">
                        <div class="carousel-caption d-none d-md-block">
                                   
                         </div>                      
                       </slide>
                   <slide>
                        <img class="img-main-carousel" src="assets/images/EventASF9.jpeg"  alt="First slide" title="Cliquez pour agrandir">
                        <div class="carousel-caption d-none d-md-block">
                         <h5>Décembre 2015</h5>
                         <p> Souvenir, souvenir... </p>
                        </div>                      
                       </slide>
                       <slide>
                            <img  class="img-main-carousel" src="assets/images/EventASF11.jpeg"  alt="First slide" title="Cliquez pour agrandir">
                            <div class="carousel-caption d-none d-md-block">
                             
                            </div>                      
                           </slide>
                           <slide>
                                <img  class="img-main-carousel" src="assets/images/EventASF14.jpeg"  alt="First slide" title="Cliquez pour agrandir">
                                <div class="carousel-caption d-none d-md-block">
                                 <h5>Décembre 2016</h5>
                                 <p> Soutient aux Enfants</p>
                                </div>                      
                               </slide>
                               <slide>
                                   <img class="img-main-carousel" src="assets/images/EventASF15.jpeg"  alt="First slide" title="Cliquez pour agrandir">
                                   <div class="carousel-caption d-none d-md-block">
                                   
                                    <p></p>
                                   </div>                      
                                  </slide>
                          
                                  <slide>
                                          <img class="img-main-carousel" src="assets/images/EventASF17.jpeg"  alt="First slide" title="Cliquez pour agrandir">
                                          <div class="carousel-caption d-none d-md-block">
                 
                                           </div>                      
                                         </slide>
                                         <slide>
                                              <img class="img-main-carousel" src="assets/images/EventASF23.jpeg"  alt="First slide" title="Cliquez pour agrandir">
                                              <div class="carousel-caption d-none d-md-block">
                                               
                                               <p> Bénis soit le Dieu, CREATEUR</p>              
                                               </div>                      
                                             </slide>
                                         <slide>
                                              <img class="img-main-carousel" src="assets/images/EventASF21.jpeg"  alt="First slide" title="Cliquez pour agrandir">
                                              <div class="carousel-caption d-none d-md-block">
                                               <h5>Prospérité pour tous!</h5>
                                               
                                              </div>                      
                                             </slide>
                                             <slide>
                                                  <img  class="img-main-carousel" src="assets/images/EventASF22.jpeg"  alt="First slide" title="Cliquez pour agrandir">
                                                  <div class="carousel-caption d-none d-md-block">
                                                   <h5>On veut être en santé</h5>
                                                   
                                                  </div>                      
                                                 </slide>
                                                 <slide>
                                                      <img  class="img-main-carousel" src="assets/images/EventASF24.jpeg"  alt="First slide" title="Cliquez pour agrandir">
                                                      <div class="carousel-caption d-none d-md-block">
                                                       <h5>Décembre 2016</h5>
                                                       <p> Soutient aux Enfants</p>
                                                      </div>                      
                                                     </slide>
                          
                                                     
                                  <slide>
                                      <img class="img-main-carousel" src="assets/images/EventASF32.jpeg"  alt="First slide" title="Cliquez pour agrandir">
                                      <div class="carousel-caption d-none d-md-block">
                                     
                                      </div>                      
                                     </slide>
                             
                                     <slide>
                                             <img class="img-main-carousel" src="assets/images/EventASF34.jpeg"  alt="First slide" title="Cliquez pour agrandir">
                                             <div class="carousel-caption d-none d-md-block">
                                              <h5>Ensemble...</h5>
                                              <p> ASF nous accompagne!</p>              
                                              </div>                      
                                            </slide>
                                            <slide>
                                                 <img class="img-main-carousel" src="assets/images/EventASF44.jpeg"  alt="First slide" title="Cliquez pour agrandir">
                                                 <div class="carousel-caption d-none d-md-block">
                                                  <h5>HARMONIE</h5>
                                                             
                                                  </div>                      
                                                </slide>
                                            <slide>
                                                 <img class="img-main-carousel" src="assets/images/EventASF42.jpeg"  alt="First slide" title="Cliquez pour agrandir">
                                                 <div class="carousel-caption d-none d-md-block">
                                                  <h5>ON veut la SANTÉ</h5>
                
                                                 </div>                      
                                                </slide>
                                                <slide>
                                                     <img  class="img-main-carousel" src="assets/images/EventASF43.jpeg"  alt="First slide" title="Cliquez pour agrandir">
                                                     <div class="carousel-caption d-none d-md-block">
                                                      <h5>on veut vivre en AMOUR</h5>
                                                      
                                                     </div>                      
                                                    </slide>
                                                    <slide>
                                                         <img  class="img-main-carousel" src="assets/images/EventASF45.jpeg"  alt="First slide" title="Cliquez pour agrandir">
                                                         <div class="carousel-caption d-none d-md-block">
                                                          <h5>On veut la Paix</h5>
                                                          
                                                         </div>                      
                                                        </slide>
     </carousel>
 </div>        
 </div> <!--diapo-->
 
         <div class="verse_biblique">
                 <h2>Matthieu 14:16</h2>
                 <p>
                    Le soir étant venu, les disciples s'approchèrent de lui, et dirent: Ce lieu est désert, et l'heure est déjà avancée; renvoie la foule, afin qu'elle aille dans les villages, pour s'acheter des vivres. 16Jésus leur répondit: Ils n'ont pas besoin de s'en aller; donnez-leur vous-mêmes à manger. 17Mais ils lui dirent: Nous n'avons ici que cinq pains et deux poissons.…
                 </p>
         </div>





   <div class="elt2_nosAction">
  <h2>Les Actions menées par Amour Sans frontière (<i>ASaF</i>) sont variées: </h2>  
   <p>
   <mark>
     <ul>
        Les fonctionnalités sont de faire
         des nations les Disciples selon Matt28/19<br>
    de témoigner l'amour du christ au-travers des œuvres sociales manifesté a l'endroit des personnes défavorisés: 
    <span class="important">
    <li>Apport en soins médicaux.,
    	<li>Apport sur le plan nutritionnelle., 
    	<li>Apport sur le plan vestimentaire., 
    	<li>et dans le possible d'encourager la population a l'auto  emploi et la création d'entreprise afin de les amené a être entrepreneurs
      </span>
     </ul>
     
  </mark>  
  </p>

  <p>  <i> Nous disons à toute personne désireuse de nous accompagner  dans cette actions qu'elle est la bienvenue.
  Par Carole 
</i></p> 
<a routerLink="historique"> pour plus d'infos...</a><br />
</div>

  

</body>
</html>