<!DOCTYPE html>
<html lang="fr">


<head>
  <title>Accueil</title>
  <meta charset="utf-8" />
</head>
  
<body>
  <div class="diapo">
    <div class='col-sm-6 col-sm-offset-3'>
    <carousel class='text-center'>

        <slide>
         <img class="img-main-carousel" src="assets/images/ASFprospect.jpg"  alt="First slide" title="Cliquez pour agrandir">
         <div class="carousel-caption d-none d-md-block">
         <h5>A venir ...</h5>
          <p></p>
         </div>                      
        </slide>

        <slide>
                <img class="img-main-carousel" src="assets/images/EventASF5.jpeg"  alt="First slide" title="Cliquez pour agrandir">
                <div class="carousel-caption d-none d-md-block">
                              
                 </div>                      
               </slide>
               <slide>
                    <img class="img-main-carousel" src="assets/images/EventASF23.jpeg"  alt="First slide" title="Cliquez pour agrandir">
                    <div class="carousel-caption d-none d-md-block">
                               
                     </div>                      
                   </slide>
               <slide>
                    <img class="img-main-carousel" src="assets/images/EventASF42.jpeg"  alt="First slide" title="Cliquez pour agrandir">
                    <div class="carousel-caption d-none d-md-block">
                     <h5>Décembre 2015</h5>
                     <p> Soutient aux Enfants ... </p>
                    </div>                      
                   </slide>
                   <slide>
                        <img  class="img-main-carousel" src="assets/images/EventASF43.jpeg"  alt="First slide" title="Cliquez pour agrandir">
                        <div class="carousel-caption d-none d-md-block">
                         <h5>Décembre 2016</h5>
                         <p> Soutient aux Enfants</p>
                        </div>                      
                       </slide>
                       <slide>
                            <img  class="img-main-carousel" src="assets/images/EventASF45.jpeg"  alt="First slide" title="Cliquez pour agrandir">
                            <div class="carousel-caption d-none d-md-block">
                          
                            </div>                      
                           </slide>

                           
        <slide>
            <img class="img-main-carousel" src="assets/images/EventASF.jpeg"  alt="First slide" title="Cliquez pour agrandir">
            <div class="carousel-caption d-none d-md-block">

             <p></p>
            </div>                      
           </slide>
   
           <slide>
                   <img class="img-main-carousel" src="assets/images/EventASF6.jpeg"  alt="First slide" title="Cliquez pour agrandir">
                   <div class="carousel-caption d-none d-md-block">
                                
                    </div>                      
                  </slide>
                  <slide>
                       <img class="img-main-carousel" src="assets/images/EventASF7.jpeg"  alt="First slide" title="Cliquez pour agrandir">
                       <div class="carousel-caption d-none d-md-block">
                                  
                        </div>                      
                      </slide>
                  <slide>
                       <img class="img-main-carousel" src="assets/images/EventASF9.jpeg"  alt="First slide" title="Cliquez pour agrandir">
                       <div class="carousel-caption d-none d-md-block">
                        <h5>Décembre 2015</h5>
                        <p> Souvenir, souvenir... </p>
                       </div>                      
                      </slide>
                      <slide>
                           <img  class="img-main-carousel" src="assets/images/EventASF11.jpeg"  alt="First slide" title="Cliquez pour agrandir">
                           <div class="carousel-caption d-none d-md-block">
                            
                           </div>                      
                          </slide>
                          <slide>
                               <img  class="img-main-carousel" src="assets/images/EventASF14.jpeg"  alt="First slide" title="Cliquez pour agrandir">
                               <div class="carousel-caption d-none d-md-block">
                                <h5>Décembre 2016</h5>
                                <p> Soutient aux Enfants</p>
                               </div>                      
                              </slide>
                              <slide>
                                  <img class="img-main-carousel" src="assets/images/EventASF15.jpeg"  alt="First slide" title="Cliquez pour agrandir">
                                  <div class="carousel-caption d-none d-md-block">
                                  
                                   <p></p>
                                  </div>                      
                                 </slide>
                         
                                 <slide>
                                         <img class="img-main-carousel" src="assets/images/EventASF17.jpeg"  alt="First slide" title="Cliquez pour agrandir">
                                         <div class="carousel-caption d-none d-md-block">
                
                                          </div>                      
                                        </slide>
                                        <slide>
                                             <img class="img-main-carousel" src="assets/images/EventASF23.jpeg"  alt="First slide" title="Cliquez pour agrandir">
                                             <div class="carousel-caption d-none d-md-block">
                                              
                                              <p> Bénis soit le Dieu, CREATEUR</p>              
                                              </div>                      
                                            </slide>
                                        <slide>
                                             <img class="img-main-carousel" src="assets/images/EventASF21.jpeg"  alt="First slide" title="Cliquez pour agrandir">
                                             <div class="carousel-caption d-none d-md-block">
                                              <h5>Prospérité pour tous!</h5>
                                              
                                             </div>                      
                                            </slide>
                                            <slide>
                                                 <img  class="img-main-carousel" src="assets/images/EventASF22.jpeg"  alt="First slide" title="Cliquez pour agrandir">
                                                 <div class="carousel-caption d-none d-md-block">
                                                  <h5>On veut être en santé</h5>
                                                  
                                                 </div>                      
                                                </slide>
                                                <slide>
                                                     <img  class="img-main-carousel" src="assets/images/EventASF24.jpeg"  alt="First slide" title="Cliquez pour agrandir">
                                                     <div class="carousel-caption d-none d-md-block">
                                                      <h5>Décembre 2016</h5>
                                                      <p> Soutient aux Enfants</p>
                                                     </div>                      
                                                    </slide>
                         
                                                    
                                 <slide>
                                     <img class="img-main-carousel" src="assets/images/EventASF32.jpeg"  alt="First slide" title="Cliquez pour agrandir">
                                     <div class="carousel-caption d-none d-md-block">
                                    
                                     </div>                      
                                    </slide>
                            
                                    <slide>
                                            <img class="img-main-carousel" src="assets/images/EventASF34.jpeg"  alt="First slide" title="Cliquez pour agrandir">
                                            <div class="carousel-caption d-none d-md-block">
                                             <h5>Ensemble...</h5>
                                             <p> ASF nous accompagne!</p>              
                                             </div>                      
                                           </slide>
                                           <slide>
                                                <img class="img-main-carousel" src="assets/images/EventASF44.jpeg"  alt="First slide" title="Cliquez pour agrandir">
                                                <div class="carousel-caption d-none d-md-block">
                                                 <h5>HARMONIE</h5>
                                                            
                                                 </div>                      
                                               </slide>
                                           <slide>
                                                <img class="img-main-carousel" src="assets/images/EventASF42.jpeg"  alt="First slide" title="Cliquez pour agrandir">
                                                <div class="carousel-caption d-none d-md-block">
                                                 <h5>ON veut la SANTÉ</h5>
               
                                                </div>                      
                                               </slide>
                                               <slide>
                                                    <img  class="img-main-carousel" src="assets/images/EventASF43.jpeg"  alt="First slide" title="Cliquez pour agrandir">
                                                    <div class="carousel-caption d-none d-md-block">
                                                     <h5>on veut vivre en AMOUR</h5>
                                                     
                                                    </div>                      
                                                   </slide>
                                                   <slide>
                                                        <img  class="img-main-carousel" src="assets/images/EventASF45.jpeg"  alt="First slide" title="Cliquez pour agrandir">
                                                        <div class="carousel-caption d-none d-md-block">
                                                         <h5>On veut la Paix</h5>
                                                         
                                                        </div>                      
                                                       </slide>
    </carousel>
</div>        
</div> <!--diapo-->

        <div class="verse_biblique">
                <h2>Matthieu 14:16</h2>
                <p>
                   Le soir étant venu, les disciples s'approchèrent de lui, et dirent: Ce lieu est désert, et l'heure est déjà avancée; renvoie la foule, afin qu'elle aille dans les villages, pour s'acheter des vivres. 16Jésus leur répondit: Ils n'ont pas besoin de s'en aller; donnez-leur vous-mêmes à manger. 17Mais ils lui dirent: Nous n'avons ici que cinq pains et deux poissons.…
                </p>
        </div>
    
</body>
</html>