<!DOCTYPE html>
<html lang="fr">


<head>
  <title>Accueil</title>
  <meta charset="utf-8" />
</head>

<body>

<h2> Mora-Goshi Cameroun Décembre 2018 </h2>
<div class="container-table">
      <div class="row vertical-middle text-center" >
          <div class="col-sm-6 col-md-8 col-lg-6 text-center">
            <iframe width="500" height="315" src="https://www.youtube.com/embed/uUP9COHoKl4"
            frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-6 text-center">
              <carousel class='text-center'>

          <slide>
            <img class="img-main-carousel" src="assets/images/mora_dec2018_p16.jpg"
                 alt="First slide" title="Cliquez pour agrandir"
                 width="500" height="315">
          </slide>

          <slide>
            <img class="img-main-carousel" src="assets/images/mora_dec2018_p1.jpg"
                 alt="First slide" title="Cliquez pour agrandir"
                 width="500" height="315">
          </slide>
          <slide>
            <img class="img-main-carousel" src="assets/images/mora_dec2018_p2.jpg"
                 alt="First slide" title="Cliquez pour agrandir"
                 width="500" height="315">
          </slide>

          <slide>
            <img class="img-main-carousel" src="assets/images/mora_dec2018_p3.jpg"
                 alt="First slide" title="Cliquez pour agrandir"
                 width="500" height="315">
          </slide>
          <slide>
            <img class="img-main-carousel" src="assets/images/mora_dec2018_p4.jpg"
                 alt="First slide" title="Cliquez pour agrandir"
                 width="500" height="315">
          </slide>

          <slide>
            <img class="img-main-carousel" src="assets/images/mora_dec2018_p5.jpg"
                 alt="First slide" title="Cliquez pour agrandir"
                 width="500" height="315">
          </slide>
          <slide>
            <img class="img-main-carousel" src="assets/images/mora_dec2018_p6.jpg"
                 alt="First slide" title="Cliquez pour agrandir"
                 width="500" height="315">
          </slide>

          <slide>
            <img class="img-main-carousel" src="assets/images/mora_dec2018_p7.jpg"
                 alt="First slide" title="Cliquez pour agrandir"
                 width="500" height="315">
          </slide>
          <slide>
            <img class="img-main-carousel" src="assets/images/mora_dec2018_p8.jpg"
                 alt="First slide" title="Cliquez pour agrandir"
                 width="500" height="315">
          </slide>

          <slide>
            <img class="img-main-carousel" src="assets/images/mora_dec2018_p9.jpg"
                 alt="First slide" title="Cliquez pour agrandir"
                 width="500" height="315">
          </slide>
          <slide>
            <img class="img-main-carousel" src="assets/images/mora_dec2018_p10.jpg"
                 alt="First slide" title="Cliquez pour agrandir"
                 width="500" height="315">
          </slide>

          <slide>
            <img class="img-main-carousel" src="assets/images/mora_dec2018_p11.jpg"
                 alt="First slide" title="Cliquez pour agrandir"
                 width="500" height="315">
          </slide>
          <slide>
            <img class="img-main-carousel" src="assets/images/mora_dec2018_p12.jpg"
                 alt="First slide" title="Cliquez pour agrandir"
                 width="500" height="315">
          </slide>

          <slide>
            <img class="img-main-carousel" src="assets/images/mora_dec2018_p13.jpg"
                 alt="First slide" title="Cliquez pour agrandir"
                 width="500" height="315">
          </slide>
          <slide>
            <img class="img-main-carousel" src="assets/images/mora_dec2018_p14.jpg"
                 alt="First slide" title="Cliquez pour agrandir"
                 width="500" height="315">
          </slide>

          <slide>
            <img class="img-main-carousel" src="assets/images/mora_dec2018_p15.jpg"
                 alt="First slide" title="Cliquez pour agrandir"
                 width="500" height="315">
          </slide>

        </carousel>
          </div>
      </div>
  </div>      
  <br>
  <h4><strong><i>Que celui qui a deux chemises partage avec celui qui n’en a pas, et que celui qui a de quoi manger fasse de même.</i> /Luc 3:11</strong></h4>
 <br>
</body>
</html>
